<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
			xmlns="http://schemas.android.com/apk/res/android"
            id="cordova-plugin-dtvmanager" 
			version="1.0.0">
			
        <name>DTVManager</name>
        <description>Cordova Digital SDMC DTV Manager Plugin</description>
		<author>App Tec</author>
        <license>Apache 2.0</license>
        <keywords>cordova,DTV,DTVManager</keywords>
		
		<engines>
			<engine name="cordova" version=">=3.0.0" />
		</engines>	
		
        <js-module src="www/dtvmanager.js" name="dtvmanager">
			<clobbers target="window.DTVManager" />
		</js-module>
		
        <platform name="android">
		
			<source-file src="src/android/DTVManager.java" target-dir="src/com/apptec/dtvmanager" />
			
            <config-file target="res/xml/config.xml" parent="/*">
			
				<feature name="DTVManager">
					<param name="android-package" value="com.apptec.dtvmanager.DTVManager" />
				</feature>
				
			</config-file>
			
			<source-file src="dependencies/dtv_lib/HDTVAndroidPlayerAPI_2.0.5.jar" target-dir="libs" />
			
        </platform>
		
    </plugin>